@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1561525085834'); /* IE9 */
  src: url('iconfont.eot?t=1561525085834#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAeYAAsAAAAADbwAAAdMAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDXgqNfIs/ATYCJAMcCxAABCAFhG0HbxumCzOjwsYBgJQXkv2PhUzu4lY2Itc4DM/4Dwub2qZOG2pNx9NpP2/dt4G3SeGk8IEKjq3TnL17592DyhNyEoIv9vrN8Pz/zvuqE6eQYPR5wuOBwM5kJs0VsXphIlRJnn3y6AuzQOln04P7H3N1qmmLenhbL/fnNwc/RC3xFiGt8WgWEiGJeIMolngdSiNEWmURzyaTCs6HcDVAALB42dDu2d8JHAqNIhh3ja0qBa5TipphRbgkM+HIAegBGtdWE08BYL35efRDYTgAAt2B7jnY26MCOjfipgOkGBGNVhIIbI4BIDwOgASQDYAC6J5YIyIdZZsYnvQ7KU4A0OAQmA83FjeWvbU1GZsORCJ0Z9L5iIb593MEhMTs6p83wYupQDm8lwGNWBQBAjQWFwEaNJYVAQTe2ooACZqMxcCY+AEIPlwxVk3VAEgCxMGyF6gh2x4UAkOFxCxBRzTt8OM1syHMcCZDAmfldSYdwxiMGK9X66IT5msCAScVDLq04bCHDoVGtyMqXewmgfixc9cfSuP3H7M6666mqg5ct6GtNxzq/des7kyJpfznmb/jdUvN2Zex1PZXLbQX3iSMFEEMOOVQ22peCbc7/zq+mjcrtcL5UDKqPpd2+Ha8tFN4FXTVCHvDvZRHGRfa1R1N9QsOzJunmS6F5IAYVMKIFwNySAorQfCIB+XD0hHlELhljJvvO2vadzV6y7boWIir326uv5a2xnu14Fv5Lwj+GzG1O2MSUHzDDkvDdXvNeXvLSjH2iPis3DLiHVJCxBeUFtE62wFNRhKWTbCHa3p4JMlQBhgwYuRSGxzEsqUGIR7EWRQztIimOnsmYLL7CK9Yq8PIFiiWbfOwJBzBNQAwiLwiSLWki/eCKI82KZVS/EFwaI3zcHmXGHegHFzrOcT77/R6sNONXaeswHuQZDksR28BEK31Slati0cYdsQWCdli0bzz58oqp8QA1sghREthXqsEy+UG28jpMxS/4HGjykNXEop3Xm8+5+K2Fq7p/v2m6fIWAHcN1ixWK3sz1FVdzVcLgmuSapxYBsYH87xSK9V4WjUmqF4EobhKdbaIOD+kPlNE3hHiBKemBgL2mjMtZXwBRSziRdsCbrx8J8aIr6V+IzaBdq0WXjRMPNwbFRej3oc56qzeqDM5bjnhU5SxhBodaxTCp6M14Fg0FsnLjjc+zs8avJu64cfNdsGuZhhM8eJIkBB7fly/bV1TXb459+Zh1VzVEfK1rqiUI1GccrPxPNO6Mv7qp/q8YXHWUz89GMx9wr2a9m6rHkBYeutOzyEMJ9fFruk1lMrRsn37TokzGx95qwL9k88+1enOFMCsRfndu5fy6QWd+vt8tb6xNWqkr1/BFcOqFHYG/ZcVVELBqZPeu77kFf29PO/H3bz9VyT77npPnvSfnGSL8cfscUqVODaaKvL5isipryU5zecji6JfC+SgkZJeTwWEz0wVCWMBXDUj43R4lbga63yldlOcPa7H0vTcnzN/zk7/vddru+AzGwelmw/YGzSI4/hbu851dMa1qxJMdrPdZh9tMQtV7dZV0XqWH/db+19vJPVNPk63/dI8YFb/tHiTJhe5GZWDCY2IS4sbEZ+Wd857vPeQJf3ZdgPYJV2G735wYniXJUmsbfLHnDgeLjyUFTs5bnKObWDbydMy93Xrm3yDbvPljeS+SSe/aEPd8CY53jj2nFRxHNJsdfgtbYoMZl9CTWr3kpLu8olAZMzTKoY7TtU1b9IPWL1wzrYimC/8dHtWfeiEX936VNHrzNFve9mGta16Cv2+YVexvdoN7BXlReaKiEZdonfbIcml5JCuXZuzc9hDj+bk+sbElO3ZjkydZrVjNruKmcuUa7Tv+GcfVFaG+vzJUWf1QZ0120cZUz7N69Fxe1XL7eEeND1Fv2Y5KiLGnVyzjGCo0K1BWrsWn+rMrmbmCg3bKaLGt8225pSsUtexObYctp4RtkXUEQBA5D3yAOkAACCL+Bgg8oi8QLaK/B95SrFkS4BIkDxCZv0JbAWP/0zRF2vb/8bxH/P2d9vEjjFicalYIwJ8k+OQB77yxRTMkPwVLkKU2HIOEHWR/6lV24B17YvURQDArAEggg0GH20uYV448K+SMDdAYMUBiZMqpZTZQOM1BwanE2BZeh3PM5oGJDSiACDTcgKIzgkgaNwAks4zBATlh0Cz+A4YupCAHebOyxl59viHV8GoWGg6kZ+5GF6hD3b8F+yWRmmHjOMPUn079bn5/f5PFMgm9ql7O6gaMsKZPsj1kBLTKhwwa+NU112b5520bzNzPnvQjYCRqvwLMjl5ezNWmIXVw+D7v4C1SUYyI2Pu/QdE5VdPeo1uAelnrCyU8VCmVnvWQJENEl2CZZf48BgS62FknbxZADPVcCt0rXZanM0sGmt2n8j38woAMHp/NgQiEYVoxCAWccBVYmshw6MevCqkfR9+8KUqrIwZzyfedJtQ/7dRcHe+/ZOGXyVfcHYG') format('woff2'),
  url('iconfont.woff?t=1561525085834') format('woff'),
  url('iconfont.ttf?t=1561525085834') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1561525085834#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-blogger2:before {
  content: "\e662";
}

.icon-twitterlogo:before {
  content: "\e60a";
}

.icon-instegrame:before {
  content: "\e71a";
}

.icon-youtubesquare:before {
  content: "\e8a6";
}

.icon-telegram:before {
  content: "\e65f";
}

.icon-line:before {
  content: "\e813";
}

